NEXT_PUBLIC_SITE_URL=https://{{ .Domain }}
VOZEB_PRO_IMAGE={{ .SiteImage }}
REPORTER_IMAGE={{ .ReporterImage }}

VOZEB_PRO_DATABASE_PROVIDER=postgres
SITE_DATABASE_URL={{ .DatabaseURL }}

VOZEB_PRO_ENCRYPTION_KEY={{ .EncryptionKey }}
VOZEB_PRO_MAINTENANCE_TOKEN={{ .MaintenanceToken }}
VOZEB_PRO_TRUSTED_PROXY_HOPS=1
VOZEB_PRO_INTERNAL_ORIGIN=http://127.0.0.1:3000
VOZEB_PRO_WORKER_API_ORIGIN=http://app:3000

CONTROL_CENTER_URL={{ .ControlCenterURL }}
CONTROL_SITE_ID={{ .SiteID }}
CONTROL_SITE_TOKEN={{ .ControlSiteToken }}
CONTROL_REPORT_INTERVAL_SECONDS=60
SITE_DATABASE_TABLE_PREFIX=vozeb_pro_

SITE_VERSION={{ .Version }}
SITE_STORAGE_PREFIX=sites/{{ .SiteID }}/
